body {
    display: flex;
    justify-content: center;
    margin: 0px 5px;
}

.container {
    width: 1000px;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 2fr 8fr;
}

.sidebar {
    background-color: #1992d4;
    grid-area: 1 / 1 / 3 / 1;
}

.header {
    background-color: white;
}

.content {
    background-color: #e2e8f0;
}

.sidebar > * {
    color: white;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.icon-container {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    line-height: 30px;
}

li {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    line-height: 30px;
}

li > img {
    width: 20px;
}
